
body {
  margin: 5px;
  padding: 5px;
  background: linear-gradient(rgba(88, 74, 54, 0.74), rgba(184, 178, 165, 0.774));
}

.logo {
  max-width: 6em;
}

.photoListe {
	max-width: 270px;
}

.footer li {
	display: inline;
	list-style: none; 
	margin: 10px;
}

.footer  li > a {
	color: black;
  font-size: 16px;
  text-decoration: none;
}