/* commun */

body {
  margin: 5px;
  padding: 5px;
  background: linear-gradient(rgba(88, 74, 54, 0.74), rgba(184, 178, 165, 0.774));
  background-attachment: fixed;
}

.footer li {
	display: inline;
	list-style: none; 
	margin: 10px;
}

.footer  li > a {
	color: black;
  font-size: 16px;
  text-decoration: none;
}

.hidden {
	opacity: 0;
}

/* page index liste article */

.logo {
  max-width: 6em;
}

.photoListe {
	max-width: 270px;
}

/* page article */

.article-prix {
	font-size: 16px;
  text-decoration:  none;
  font-weight: bold;
}

.texte-bold-18-underline-article {
	font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.description_article {
	font-size: 16px;
  text-decoration:  none;
}

.btn_add_panier {
	max-width: 200px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(192, 167, 133, 0.822);
}